html 
{
    font-size: 40px;
    font-weight: bold;
}

.top-page
{
    height: 100px;
    background-color: rgb(14, 14, 101);
}

a 
{
    text-decoration: none;
    color: white;
    margin-left: 8%;
}

.content
{
    padding-top: 25px;
}

button
{
    width: 100px;
    height: 45px;
    float: right;
    margin-right: 8%;
    font-size: 20px;
    font-weight: bold;
}