.instructions
{
    position: absolute;
    width: 450px;
    height: 150px;
    background-color: #121212;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    color: white;
    opacity: 80%;
    border-radius: 2%;
    margin-left: 30px;
    margin-top: 20px;
}

h1
{
    font-size: medium;
    margin-left: 30px;
}

p
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    font-size: small;
}

.green
{
    color: green;
}

.red 
{
    color: red;
}